.box {
    border: 1px solid #00BFFF;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
    
  }
  
  #container {
    width: 1900px;
    height: 1900px;
  }
  
  #container>div {
    height: 25px;
  }

 